*{
  margin:0;
  padding:0;
  border:0;
}
html{
  background:#000000;
  font-family:sans-serif;
  color:green;
}
body{
  width:1024px;
  height:768px;
}
canvas{
  position:absolute;
  width:100%;
  height:100%;
}
section{
  position:relative;
  width:200px;
  height:200px;
  margin:200px auto;
  -webkit-transform-style:preserve-3d;
}
div{
  width:200px;
  height:200px;
  position:absolute;
  border:2px solid green;
  background:rgba(255,255,255,0.5);
  -webkit-transform-style:preserve-3d;
  text-align:center;
  font-size:200px;
}

span{
  position:absolute;
  width:20px;
  height:20px;
  background:grey;
  -webkit-transform-style:preserve-3d;
}

div:nth-child(1){
  -webkit-transform: rotateX(90deg) translateZ(100px);
}

div:nth-child(2){
  -webkit-transform: translateZ(100px);
}

div:nth-child(3){
  -webkit-transform: rotateY(90deg) translateZ(100px);
}

div:nth-child(4){
  -webkit-transform: rotateY(180deg) translateZ(100px);
}
div:nth-child(5){
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}
div:nth-child(6){
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
}